
ul val in [1,2,3,4,5] 
    li= 'Item ' + val

.some-class 
    h1  
        | Some heading text!

.another-class  
    a(href="sofruni.bg")    
        | Go to SoftUni !

input#name(type="text")

#wrapper    
    table
        tr
            th  
                | Name
            th  
                | Age
        tr  
            td  
                | Atanas
            td
                | 25
        tr
            td
                | Asen
            td
                | 26
